--extra-index-url https://download.pytorch.org/whl/cu128
matplotlib
numpy
opencv-python
opencv-python-headless
pillow
pydobotplus
pyrealsense2
pupil-apriltags
PyYAML
roboflow
scipy
torch
torchvision
torchaudio
ultralytics

ipykernel
ipython
jupyter_client
jupyter_core
tqdm